<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../stylesheets/contribute-room.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribute Room - Aslu Developer Portal</title>
</head>
<body>
    <div class="nav">
        <a href="../views/main.html" title="Home">
            <img src="../../imgs/Home.png" class="nav-btns home">
        </a>
        <hr>
        <a href="../views/contribute-room.html" title="Contribute Room">
            <img src="../../imgs/Contribute.png" class="nav-btns animated contribute">
        </a>
        <a href="../views/profile.html" title="Profile">
            <img src="../../imgs/user.png" class="nav-btns animated profile">
        </a>
        <a href="../views/Settings/mod.html" title="Settings">
            <img src="../../imgs/Settings.png" class="nav-btns animated settings">
        </a>

        <a href="../views/add-news.html">
            <img src="../../imgs/addnews.png" class="nav-btns animated add-news">
        </a>

    </div>

    <div class="home-page">
        <div class="page-header">
            <p class="page-header-title">Contribute Room</p>
            
        </div>
    </div>
</body>
</html>