<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../stylesheets/splash.css">
        <title>Loading Portal...</title>
        <meta name="viewport" content="width=device-width">
</head>
    <body>
        <div class="container">

            <h2>Aslu Developer Portal</h2>
            <label id="label" for="progress">Checking For Updates...</label>
            <progress id="progress" max="100" value="0"></progress>

        </div>

        <script src="../script/update.js"></script>

    </body>
</html>